@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;

    &.is-hidden {
        display: none;
    }
}

.spinner-icon {
    width: config('width.32');
    height: config('width.32');
    border: 2px solid config('colors.color-base-highlight');
    border-top: 2px solid color(link);
    border-radius: 50%;
    animation: spinner 720ms linear infinite;

    .spinner.is-hidden & {
        animation: none;
    }
}
