// Base colors
$base-colors: (
    base: #0a0a0a,
    dark: #000,
    darker: #484848,
    light: #FFF,
    border: #1b1b1b,
    copy: #e8e8e8,
    darkcopy: #8e8e8e,
    link: #00ccff,
    danger: red,
    warning: orange,
    success: green
);

// Extended colors
$extended-colors: (
    link-hover: darken(map-get($base-colors, link), 12%),
    offlight: darken(map-get($base-colors, light), 12%),
    offdark: lighten(map-get($base-colors, dark), 12%)
);

// color(dark)
$colors: map-merge($base-colors, $extended-colors);


/**
 * Color function
 */
@function color($key) {
    @return map-get($colors, $key);
}
