// Base colors
$base-colors: (
    base: #0a0a0a,
    dark: #000,
    light: #FFF,
    border: #242424,
    copy: #e8e8e8,
    offdark: #191a1a,
    offlight: #484848,
    darkcopy: #8e8e8e,
    link: #00ccff,
    danger: red,
    warning: orange,
    success: green
);

// Extended colors
$extended-colors: (
    link-hover: darken(map-get($base-colors, link), 12%), // #009bc2
    offlight: darken(map-get($base-colors, light), 12%),
    offdark: lighten(map-get($base-colors, dark), 12%)
);

// color(dark)
$colors: map-merge($base-colors, $extended-colors);


/**
 * Color function
 */
@function color($key) {
    @return map-get($colors, $key);
}
